.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  min-height: 100vh;
}

.column {
  border: thin black solid;
  min-height: 100%;
}

.column-sym {
  background-color: red;
}

.column-hyp {
  background-color: yellow;
}

.column-act {
  background-color: blue;
}

.card {
  margin: 4px;
  padding: 4px;
}

.card-sym {
  background-color: pink;
}

.card-hyp {
  background-color: lightyellow;
}

.card-act {
  background-color: lightblue;
}

.cardTitle {
  font-size: 16pt;
  font-weight: bold;
}

.cardDescription {
}

.card input,
.card textarea {
  width: 100%;
  border: none;
  display: inline-block;
}
