.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  min-height: 100vh;
}

.column {
  border: medium darkgray solid;
  min-height: 100%;
}

.card {
  margin: 4px;
  padding: 4px;
  background-color: lightgray;
}

.card-surfaced {
  z-index: 3
}

.card-desurfaced {
  z-index: 1
}

.cardTitle {
  font-size: 16pt;
  font-weight: bold;
}

.cardDescription {
}

.card input[type="text"],
.card textarea {
  width: 100%;
  border: none;
  background-color: white;
}

.cardOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000000a0;
}

.cardOverlay-hidden {
  display: none;
}

.addCard {
  margin: 4px;
  padding: 4px;
  border: thin black dashed;
  background-color: lightgray;
  font-size: 16pt;
  /* AddCard is always surfaced. */
  z-index: 3;
}

.addCard-surfaced {
  z-index: 3;
}
